@media (min-width: 1024px) {
  .logo-img {
    height: 72px;
    width: 72px;
  }

  .logo {
    justify-content: left;
    gap: 30px;
    margin-left: 60px;
  }

  .linker {
    display: flex;
    justify-content: space-around;
    margin-right: 58px;
    align-items: center;
    gap: 40px;
  }

  .linker a{
    font-size: xx-large;
  }


  nav {
    font-size: xx-large;
  }

  header h1 {
    font-size: 86px;
    margin-bottom: 5px;
  }

  header h3 {
    font-size: xx-large;
    margin-left: 160px;
    margin-right: 160px;
  }
}
