/* General */

:root {
  --primary-black: #222831;
  --primary-gray: #393e46;
  --primary-blue: #00adb5;
  --primary-white: #eeeeee;
  --secondary-gray: rgba(34, 40, 49, 95%);
}

body {
  margin: 0;
}

/* End of General */

/* Nav */
.burger-toggle {
  display: none;
}

nav {
  background-color: var(--primary-black);
  color: var(--primary-white);
  font-weight: bold;
  justify-content: space-between;
  font-family: "Inria-Serif";
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
  position: sticky;
}

.linker {
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  object-fit: contain;
  border-radius: 186px;
}

nav ul {
  list-style-type: none;
}

.linker a {
  color: var(--primary-white);
  text-decoration: none;
}

/* End of Nav */

/* Header */
header {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* Background */

/* Background Image */
.headerbg {
  width: 100%; /* Full width */
  height: auto; /* Height based on the image's natural dimensions */
  display: block; /* Ensures no extra space is added */
}

.introduction {
  position: absolute; /* Position text absolutely within the header */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for text width */
  color: black;
  z-index: 1; /* Ensure text is above the image */
  width: 100%;
}

/* Text */
header h1 {
  font-family: "Kufam";
  font-weight: bold;
  margin-top: 5px;
  z-index: 1;
  width: 100%;
  letter-spacing: 0.1em;
}

header h3 {
  font-family: "Inria-Sans";
  font-weight: bold;
  z-index: 1;
}

/* End of Header */

/* About me */
#About {
  background-color: var(--secondary-gray);
  color: var(--primary-white);
  padding-left: 77px;
  padding-right: 77px;
  padding-bottom: 80px;
}

.About-title {
  font-family: "Kufam";
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: 0.2em;
}

.About-decorator {
  background-color: var(--primary-blue);
  width: 87px;
  border-radius: 20px;
  height: 10px;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.explanation-container {
  width: 700px;
  height: fit;
}

.title-container p {
  padding-top: 10px;
}

.about-container h2 {
  font-family: "Kufam";
  font-weight: bold;
  font-size: 2rem;
  padding-bottom: 5px;
}

.explanation-container a {
  color: var(--primary-blue);
}

#About p {
  font-family: "Inria Sans";
  font-size: 24px;
  font-weight: lighter;
}

.capsule-container {
  width: 700px;
}

/* End of About Me */

/* Projects */

#Projects {
  background-color: var(--primary-black);
  color: var(--primary-white);
  padding-bottom: 120px;
}

#Projects p {
  font-family: "Inria Sans";
  font-size: 24px;
  font-weight: lighter;
}

/* End of projects */

/* Footer */

footer{
  padding: 130px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  font-family: "Inria-Sans";
  margin: 0 0 100px 0;

}

.footer-container h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.footer-container p {
  font-size: 1rem;
  font-weight: lighter;
}

.social-media-container {
  font-size: 2rem;
  justify-content: left;
}

.social-media-logos {
  display: flex;
  gap: 23px;
  align-items: center;
  justify-content: space-evenly;
}

.footer-line {
  
  width: 100%;
  
  background-color: black;
  height: 2px;
}


.footer-identity{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* End of Footer */
