@media (min-width: 768px) {
  .logo-img {
    height: 60px;
    width: 60px;
    
  }

  .logo {
    justify-content: left;
    gap: 30px;
    margin-left: 20px;
  }

  .linker {
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
    align-items: center;
    gap: 20px;
  }

  nav {
    font-size: large;
  }
}
